html, body {
    margin: 0px;
    padding: 0px;
    background-color: darkcyan;
}

.header {
    width: 100%;
    padding: 2vh;
}
.header h1{
    color: white;
    font-size: 3vh;
    margin: 0px;
    padding: 0px;
}
.header a {
    color: white;
    margin-right: 1vw;
}
.title {
    width: 48vw;
}
.hostDiv {
    margin-top: 1vh;
    float: right;
    width: 45vw;
    margin-right: 3vw;
}
input, select {
    border: 0px none;
    height: 2vh;
    margin: 0px;
    padding: 1vh;
    font-size: 1.5vh;
    width: 20vw;
}
input[type=submit], select {
    width: 10vw;
    height: 4vh;
}
input[type=checkbox] {
    width: auto;
}
#hostForm {
    margin: 0px;
    padding: 0px;
    text-align: right;
}

#data {
    height: 80vh;
    background-color: lightgrey;
    padding: 1vh;
    overflow-y: scroll;
}
#data p {
    background-color: white;
    margin: 10px 0px;
    padding: 5px 10px;
}
.sendDiv {
    padding: 2vh;
}
.sendDiv span {
    margin-top: 1vh;
    float: right;
}
#sendInput {
    width: 40vw;
}
.ready {
    color: green;
}
.error {
    color: red;
}
.incoming {
    color: black;
}
.outcoming {
    color: dimgray;
}

/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox + label {
  cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
  margin-left: 10px;
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 15px;
  border: 1px solid white;
  background: #CDD1DA;
  box-shadow: inset 0 1px 1px rgb(0,0,0);
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 3px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 1px 1px rgb(0,0,0);
  transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.checkbox:checked + label:before {
  background: darkcyan;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox:checked + label:after {
  left: 26px;
}
