html, body {
    margin: 0px;
    padding: 0px;
    background-color: darkcyan;
}

.header {
    width: 100%;
    padding: 2vh;
}
.header h1{
    color: white;
    font-size: 3vh;
    margin: 0px;
    padding: 0px;
}
.header a {
    color: white;
    margin-right: 1vw;
}
.title {
    width: 48vw;
}
.hostDiv {
    margin-top: 1vh;
    float: right;
    width: 45vw;
    margin-right: 3vw;
}
input, select {
    border: 0px none;
    height: 2vh;
    margin: 0px;
    padding: 1vh;
    font-size: 1.5vh;
    width: 20vw;
}
input[type=submit], select {
    width: 10vw;
    height: 4vh;
}
input[type=checkbox] {
    width: auto;
}
#hostForm {
    margin: 0px;
    padding: 0px;
    text-align: right;
}

#data {
    height: 80vh;
    background-color: lightgrey;
    padding: 1vh;
    overflow-y: scroll;
}
#data p {
    background-color: white;
    margin: 10px 0px;
    padding: 5px 10px;
}
.sendDiv {
    padding: 2vh;
}
.sendDiv span {
    margin-top: 1vh;
    float: right;
}
#sendInput {
    width: 40vw;
}
.ready {
    color: green;
}
.error {
    color: red;
}
.incoming {
    color: black;
}
.outcoming {
    color: dimgray;
}